<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}	

	<div class="cont" style="margin-top: 150px">
		<ul class="demo-list-two mdl-list" style="width: 50%; margin-left: auto; margin-right: auto;">
			{% for post in posts %}
  			<li class="mdl-list__item mdl-list__item--two-line">
    			<span class="mdl-list__item-primary-content">
      			<i class="material-icons mdl-list__item-avatar">person</i>
      			<span>{{post.apellidos}} {{post.nombres}}</span>
     			<span class="mdl-list__item-sub-title">{{post.id_paciente}}</span>
    			</span>
    			<span class="mdl-list__item-secondary-content">{{readable_time(post.timestamp)}}</span>
  			</li>
  			{% endfor %}
		</ul>

	</div>

{% endblock %}