<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
	<style>
		.demo-card-square.mdl-card {
			width: 320px;
			height: 370px;
		}
		.demo-card-square > .mdl-card__title {
			color: #fff;
			background:
			url() bottom right 15% no-repeat #46B6AC;
		}
	</style>
	<div class="wrapper">
		<div class="demo-card-square mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Registro</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<form class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
					<div id="body">
						<input class="mdl-textfield__input" type="text" name="user" id="user" pattern="[A-Z,a-z, ]*">
						<label class="mdl-textfield__label" for="user">Nombre</label>
					<!-- </form>
					<form class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> -->
						<input class="mdl-textfield__input" type="text" name="rfc" id="rfc" pattern="[A-Z,a-z,0-9]*">
						<label class="mdl-textfield__label" for="rfc">RFC</label>
					<!-- </form>
					<form class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"> -->
						<input class="mdl-textfield__input" type="password" name="password" id="password">
						<label class="mdl-textfield__label" for="password">Contraseña</label>
					</div>
					<div class="send">
						<!-- <a href="download/name.txt" download="name.txt"> -->
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
								<input type="submit" value="ACEPTAR" style="border: 0 none; background: none;">
							</button>
						<!-- </a> -->
					</div>
				</form>
			</div>

			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/login">
					Ingresar
				</a>
			</div>
		</div>
	</div>
</body>

<!-- CHECAR Para la descarga de txt https://webdesign.tutsplus.com/es/tutorials/quick-tip-using-the-html5-download-attribute--cms-23880#:~:text=Crear%20un%20enlace%20de%20descarga,txt%2C%20y%20. -->
